.life {
  max-width: 850px;
  margin: 0 auto;
  padding-top: 40px;
}
.life .life-about {
  width: 100%;
  text-align: center;
  overflow: hidden;
  color: #aaa;
  font-size: 15px;
}
.life .life-cont {
  margin-top: 15px;
}
.life .life-cont .life-item {
  padding: 40px 0px;
}
.life .life-cont .life-item a {
  display: block;
  margin: 0 0 10px;
  font-size: 1.3em;
  font-weight: normal;
  color: dark-gray;
}
.life .life-cont .life-item .archive-artDate {
  display: block;
  color: #aaa;
  font-size: 14px;
  margin-bottom: 10px;
}
.life .life-cont .life-item + .life-item {
  border-top: 1px solid #eee;
}
