.tags-wrap {
  max-width: 850px;
  margin: 0 auto;
  padding-top: 40px;
  color: dark-gray;
}
.tags-wrap .tags {
  padding-bottom: 5px;
}
.tags-wrap .tags a {
  padding-right: 10px;
  font-size: 16px;
  color: #aaa;
  line-height: 25px;
}
.tags-wrap .tags a:hover {
  color: dark-gray;
}
.tags-wrap .one-tag-list .tag-text {
  margin: 10px 0px;
  font-size: 22px;
  color: dark-gray;
}
.tags-wrap .one-tag-list .post-preview {
  line-height: 35px;
}
.tags-wrap .one-tag-list .post-preview .tagItem-date {
  display: block;
  float: left;
  color: #aaa;
}
.tags-wrap .one-tag-list .post-preview a {
  display: inline-block;
  text-indent: 2em;
  color: dark-gray;
}
