
  <span class="footer-msg">
    <%- config.since_year %>
    <% let current = date(Date.now(), "YYYY") %>
    <% if (current != config.since_year ) { %>
    <span class="timeDivide">-</span>
    <% current } %>
    <%- config.author%>.
  </span>
