<h1>portfolio and skillsets</h1>
<div class="portfolio">
  <div class="portfolio-container">
    <h2>languages:</h2>
    <ul class="no-bullets">
      <li class="image-grid">
        <img src="../images/programming_icons/python-128.png" alt="python">
      </li>
      <li class="image-grid">
        <img src="../images/programming_icons/javascript-128.png" alt="javascript">
      </li>
      <li class="image-grid">
        <img src="../images/programming_icons/html-128.png" alt="html">
      </li>
      <li class="image-grid">
        <img src="../images/programming_icons/css-128.png" alt="css">
      </li>
    </ul>
  </div>

  <div class="portfolio-container">
    <h2>frameworks:</h2>
    <ul class="no-bullets">
      <li class="image-grid">
        <img src="../images/programming_icons/nodejs-128.png" alt="nodejs">
      </li>
      <li class="image-grid">
        <img src="../images/programming_icons/angular-128.png" alt="angular">
      </li>
    </ul>
  </div>

  <div class="portfolio-container">
    <h2>tools:</h2>
    <ul class="no-bullets">
      <li class="image-grid">
        <img src="../images/programming_icons/github-128.png" alt="git">
      </li>
      <li class="image-grid">
        <img src="../images/programming_icons/sass-128.png" alt="sass">
      </li>
      <li></li>
    </ul>
  </div>

</div>

