.post{
  padding: 40px 0;
  .post-head{
    .post-title{
      margin: 0px 0px 10px;
      a{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        color: dark-gray;
        text-decoration: none;
        font-weight: normal;
      }
    }
  }
  .post-datetag{
    margin-bottom: 10px;
    color: #aaa;
    font-size: 14px;
    .post-date{
      display: inline-block;
    }
    .post-tag{
      display: inline-block;
      margin-left: 20px;
      a{
        color: #aaa;
        text-decoration: none;
      }
    }
  }
  h2 {
    margin: 15px 0;
  }
  h3 {
    margin: 8px 0;
  }
  blockquote {
    margin: 0 0 15px 2em;
    p {
      border-left: 1px red solid;
      padding: 0 5px;
      background-color: whitesmoke;
      display: inline-block;
    }
  }
  p {
    word-break: break-word;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  ul {
    margin-bottom: 15px;
    li {
      margin-left: 30px;
      margin-top: 8px;
      list-style: disc;
      blockquote {
        margin: 8px 0px;
      }
    }
  }
}
