@import "photo-grid.css";
  
@charset "UTF-8";

// Mixins
@import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

// Variables;
@import "materialize/components/variables";

// Needed components
@import "materialize/components/grid";
@import "materialize/components/global";
@import "materialize/components/typography";
@import "materialize/components/normalize";


@font-face {
  font-family: Manifesto;
  src: url("../images/fonts/MANIFESTO.ttf");
}


$font-stack: Manifesto;
$helvetica: Helvetica, sans-serif;

$primary-color: #666;


h1,h2,h3,h4,h5,h6,p {
   line-height: 1.45;
}

h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2em; }


body {
  font-family: $font-stack;
}

section {
  height: 100vh;
}

.main {
  height: 100vh;
  color: #FFF;
  background-image: url("../images/tight.jpg");
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  margin: 0 auto;
  .text-overlay{
    margin: auto;
    span {
      font-size: 10vw;
    }
    p {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.row {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}

.primary {
  height:100%;
  .category {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    margin: 0 auto;
  }
}

.secondary {
  height:100%;
  background-color: #FFF;
  .description {
    color: #333;
    text-align: center;
    margin: 0 auto;
    font-family: $helvetica;
    .img {
      width: 60%;
    }
    .centered {
      overflow: hidden;
      width: 100%;
      margin: 0 auto;
      display: block;
      text-align: center;
      .icon {
        display: inline-block;
        margin: 15px;
      }
    }
    p {
      margin: 10px 30px;
    }
    a {
      &:link {
        color: #333;
      }
      &:visited {
        color: #111;    
      }
    }
  }
}

@media #{$medium-and-down} {
  .primary {
    height: 50%;
    .category {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    margin: 0 auto;
    }
  }
  .secondary {
    height: auto;
  }
}

// Background colors
.about { background-color: #014A5D; }
.projects { background-color: #333; }
.contact { background-color: #B20152; }


nav {
  z-index: 1000;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  ul {
    list-style-type: none;
    padding: 0;
    li {
      display: inline;
      &:not(:last-child):after {
        content: "/";
        font-size: 2em;
        font-weight: 800;
        color: #FFF;
        text-decoration: none;
        text-shadow: 2px 2px 4px #000000;
      }
      a {
        font-size: 2em;
        font-weight: 800;
        color: #FFF;
        text-decoration: none;
        text-shadow: 2px 2px 4px #000000;
      }
    }
  }
}
